/* THIS IS A COMMENT */ 

html {
    background-color: rgb(0,50,50);
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    align-content: center;
}

main {
    background-color: black;
    font-size: 20px;
    color: rgb(230,255,255);
    padding: 1rem;
}



header {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(220,255,255);
    background-color: rgb(0,50,50);
    max-width: auto;
    width: 100vw;
    height: 100%;
}

h1 {
    text-align: center;
}

nav img {
    max-width: 30px;
}

div.center {
    align-content: center;
    text-align: center;
}

#ice-cream-cat img {
    max-width: 400px;
    align-content: center;
    margin-bottom: -2rem;
    padding-bottom: 0;
    margin-top: -1rem;
}

.source-link a {
    color: white;
    text-decoration: none;
    margin-top: 0rem;
    transition: color;
    font-size: 10px;
}

.source-link a:hover {
color: green;
}

.define dt, dd {
    color: black;
    width: 200px;
    height: 100px;
    text-align: center;
    background-color: rgb(153, 148, 148);
}


.kittens {
    overflow: hidden;
    padding: 1rem;
}

.kittens img {
    max-height: 300px;
    transform: rotate(90deg);
    float: right;
    margin-top: -1rem;
    margin-bottom: 3rem;
}

#p5 {
    max-width: 300px;
    max-height: auto;
}

footer {
    background-color: rgb(0,50,50);
    padding: 1rem;
}


#p1 img {
    max-width: 200px;
}

#p2 img {
    max-width: 200px;
}

/* the following demonstrates use of flexbox */
#p1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: stretch;
    height: 300px;
}

#p2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: baseline;
    align-content: center;
}

.item1 {
    
}

.item2 {
    width: 100px;
    height: 100px;
    margin: auto;
}

/* flexbox examples - example 1
.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}

.flex-item {
    background: tomato;
    padding: 5px;
    width: 200px;
    height: 150px;
    margin-top: 10px;

    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
}
*/


/* Flexbox Example 2
.navigation {
    list-style: none;
    margin: 0; 
    
    background: deepskyblue;
    
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-flex-flow: row wrap;
    justify-content: flex-end;
  }
  
  .navigation a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
  }
  
  .navigation a:hover {
    background: darken(deepskyblue, 2%);
  }
  
  @media all and (max-width: 800px) {
    .navigation {
      justify-content: space-around;
    }
  }
  
  @media all and (max-width: 600px) {
    .navigation {
      -webkit-flex-flow: column wrap;
      flex-flow: column wrap;
      padding: 0;
    }
    
    .navigation a { 
      text-align: center; 
      padding: 10px;
      border-top: 1px solid rgba(255,255,255,0.3); 
      border-bottom: 1px solid rgba(0,0,0,0.1); 
    }
  
    
    .navigation li:last-of-type a {
      border-bottom: none;
    }
  }
*/



/* Flexbox example 3
  .wrapper {
    display: flex;  
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
  }
  
  .wrapper > * {
    padding: 10px;
    flex: 1 100%;
  }
  
  .header {
    background: tomato;
  }
  
  .footer {
    background: lightgreen;
  }
  
  .main {
    text-align: left;
    background: deepskyblue;
  }
  
  .aside-1 {
    background: gold;
  }
  
  .aside-2 {
    background: hotpink;
  }
  
  @media all and (min-width: 600px) {
    .aside { flex: 1 0 0; }
  }
  
  @media all and (min-width: 800px) {
    .main    { flex: 3 0px; }
    .aside-1 { order: 1; } 
    .main    { order: 2; }
    .aside-2 { order: 3; }
    .footer  { order: 4; }
  }
  
  body {
    padding: 2em; 
  }
  Resources
*/




/* Flexbox prefixes
@mixin flexbox() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
  
  @mixin flex($values) {
    -webkit-box-flex: $values;
    -moz-box-flex:  $values;
    -webkit-flex:  $values;
    -ms-flex:  $values;
    flex:  $values;
  }
  
  @mixin order($val) {
    -webkit-box-ordinal-group: $val;  
    -moz-box-ordinal-group: $val;     
    -ms-flex-order: $val;     
    -webkit-order: $val;  
    order: $val;
  }
  
  .wrapper {
    @include flexbox();
  }
  
  .item {
    @include flex(1 200px);
    @include order(2);
  }
*/




/* rules applying only to screens 500 pixels and wider */
@media (min-width: 500px) {
    body {
        font-size: 18px;
        background-color: red;
    }
}


@media (min-width: 900px) {
body {
    body {
        background: green;
        padding: 1rem;
        }
        
        /* selects all elements with class="definition" */
        .definition {
            font-weight: bold;
            background-color: yellow;
        }
        
        /* selects the image under the p id="ice-cream-cat" */
        #ice-cream-cat img {
            max-width: 500px;
            float: center;
        }
        
        #kittens img {
            max-width: 500px;
        }
        
        /* selects the element with id="cat-definition" */
        #cat-definition {
            font-size: 2em
        }
        
        /* changes all stand-alone <p> elements */
        p {
        color: rgb(228, 22, 22);
        }
        
        /* selects only the elements within header section */
        header {
            color: aqua;
        }
        
        /* selects the elements with class="source-link" */
        .source-link {
            color: white;
            font-size: 1em
        }
        
        /* selects all h1, h2, and h3 elements */
        h1, h2, h3 {
            font-weight: 900;
        }
        
        /* selects all elements with class="nav-link" that are being hovered over with mouse */
        .nav-link:hover {
            color: azure
        }
        
        /* selects all <input> elements that have keyboard focus */
         input:focus {
             background-color: chocolate
         }
        
         /* setting the font family for the whole body section */
         body {
             font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
         }
        
         /* using a special font from Google Fonts for the title - insert link into html doc first */
        header {
            font-family: 'Dokdo', cursive;
        }
        
        /* setting background color of the list paragraph to pure blue + half transparent using rgb */
        .list {
            background-color: rgb(0,0,255,0.5);
        }
        
        /* adding background image to two of the paragraph sections in middle */
        .background {
            background-image: url(../images/background.jpg);
            background-size: cover;
            background-position: center;
        }
        /* .. here specifies that the images folder is within the parent folder */
        
        /* Adjusting the width of paragraph id="p1" */
        #p1 {
            width: 100px;
        }
        
        /* Adjusting the height of paragrpah id="p2" */
        #p2 {
            height: 100px;
        }
        
        /* Adding a border color, width, and style to paragraph id="p3" */
        #p3 {
            border-color: rgb(0,0,100);
            border-width: 5px;
            border-style: double;
        }
        
        /* Adjusting the maximum width and moving id="p4" over using margin arrangements */
        #p4 {
            max-width: 1170px;
            margin-left: 300px;
        }
        
        /* Centering the text of id="p5" within its max width. Notice that it remains in its position as my screen size grows an shrinks */
        #p5 {
            max-width: 100px;
            margin-left: auto;
            margin-right: auto;
        }
}
}

